{% extends 'BlogOn/layout.html' %}
{% block header %}
{{ super() }}
{% endblock %}
{% block scripts %}
<script>

    $(document).ready(function(){
        logList=$("#log_list")
        logStream = new EventSource("{{url_for('log_stream')}}")
        logStream.addEventListener("logUpdate",function(e){
        list = ""
            logs = JSON.parse(e.data.replace(/[']/g,"\""))
            for(var i=0; i<logs.logs.length; i++){
                var s = logs.logs[i].split('|')
                var s1 = s[1].split(' ')
                var str = "<span class='small text-muted'>"+s[0]+": </span> "
                var glyph ="glyphicon glyphicon-"
                if (s1[0]=='post'){
                    var s2=s[2].split(',')
                    str+=s2[0]+" "
                    switch(s1[1]){
                        case 'create':
                               glyph+='floppy-save'
                            break;
                        case 'update':
                                glyph+='edit'
                            break;
                        case 'publish':
                            glyph+='check'
                            break;
                        case 'unpublish':
                            glyph+='unchecked'
                            break;
                        case 'delete':
                            glyph+='trash'
                            break;
                    }
                    str+="<span class='"+glyph+"'></span> "+s2[1]
                }
                else if(s1[0]=='user'){
                    str+=s[2]
                    switch (s1[1]){
                        case 'login':
                        glyph+='log-in'
                            break;
                        case 'register':
                        glyph+='user'
                            break;
                    }
                   str+="<span class='"+glyph+"'></span>"
                }
                else{
                    str=log.log[i];
                }
                list+="<li class='list-group-item'>" + str + "</li>"
            }
            logList.html(list)
        })
        logStream.addEventListener("error",function(){
            console.log(arguments)
        })

    })

</script>
{% endblock %}
{% block body %}
<div class="col-md-6">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Hi {{session['username']}}</h2>
    </div>
    <div class="panel-body">
        {% set posts = get_posts_by_user(session['userid']) %}
        {% set n = posts|count %}
        Total no. of posts: {{get_num_posts()}}<br/>
        Your posts: {{n}}
    </div>
</div>
</div>
<div class="col-md-6">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Logs</h3>
        </div>
        <div class="panel-body">
            <div id="log_list" class="list-group">

            </div>
        </div>
    </div>

</div>
{% endblock %}
