{% extends 'BlogOn/layout.html' %}
{% block header %}
{{ super() }}
{% endblock %}
{% block scripts %}
<script>

    $(document).ready(function(){
        logList=$("#log_list")
        logStream = new EventSource("{{url_for('log_stream')}}")
        logStream.addEventListener("logUpdate",function(e){
        list = ""
            logs = JSON.parse(e.data.replace(/[']/g,"\""))
            for(var i=0; i<logs.logs.length; i++){
                list+="<li class='list-group-item'>"+logs.logs[i]+"</li>"
            }
            logList.html(list)
        })
        logStream.addEventListener("error",function(){
            console.log(arguments)
        })

    })

</script>
{% endblock %}
{% block body %}
<div class="col-md-6">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Hi {{session['username']}}</h2>
    </div>
    <div class="panel-body">
        {% set posts = get_posts_by_user(session['userid']) %}
        {% set n = posts|count %}
        Total no. of posts: {{get_num_posts()}}<br/>
        Your posts: {{n}}
    </div>
</div>
</div>
<div class="col-md-6">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Logs</h3>
        </div>
        <div class="panel-body">
            <div id="log_list" class="list-group">

            </div>
        </div>
    </div>

</div>
{% endblock %}
