
{% extends 'BlogOn/layout.html' %}
{% block header %}
{% endblock %}

{% block body %}
<div class="bo-login-form">
    <h3>BlogOn Admin Login</h3>
    <form method="post" action="{{url_for('login_page')}}">
        <form>
          <div class="form-group">
            <label for="username">Username or Email address:</label>
            <input name="username" type="text" class="form-control" id="username" required>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" name="password" class="form-control" id="pwd" required>
          </div>
          <div class="checkbox">
            <label><input name="remember" type="checkbox"> Remember me</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </form>
</div>
{% endblock %}
