{%extends 'BlogOn/Layout.html'%}

{% block scripts %}
<script src="{{url_for('static',filename='tinymce/tinymce.min.js')}}"></script>
<script>

    var pm = {
        init:function(){
            t_save= null
            form=$("#post_form")
            postid=$("#post_id")
            title=$("#post_title")
            description=$("#post_description")
            tags=$("#post_tags")
            categories=$("#post_categories input")
            save_status=$("#save_status")
            status_btn=$("#status_btn")
            title.keyup(pm.trigger)
            description.keyup(pm.trigger)
            tags.keyup(pm.trigger)
            categories.change(pm.trigger)

            saved = {%if post is defined %}true {% else %} false {% endif %}

            {% if post is defined %}
            postid.val('{{post.postid}}')
            title.val('{{post.title}}')
            $('#post_content').val('{{post.content|safe}}')
            description.val('{{post.description}}')
            tags.val('{{post.tags}}')
            {% endif %}
        },
        trigger:function(){
            if(t_save)
                clearTimeout(t_save)
            t_save=setTimeout(pm.update,2500)
            save_status.html("<span class='glyphicon glyphicon-refresh'></span>")
            saved = false
            tinymce.triggerSave();

        },
        update:function(){
            if(title.val() != "" && tinymce.activeEditor.getContent() != "")
            {
                if(postid.val()==""){
                    pm.create()
                }else{
                    $.post("{{url_for('update_post_task')}}",
                    JSON.parse(JSON.stringify(form.serialize())),
                    pm.onSave)
                }
            }
        },
        create:function(){
            if(title.val() != "" && tinymce.activeEditor.getContent() != ""){
                $.post("{{url_for('create_post_task')}}",
                 JSON.parse(JSON.stringify(form.serialize())),
                 pm.onSave
                )}},
        publish:function(){
            if(title.val() != "" && tinymce.activeEditor.getContent() != ""){
                if(saved){
                    console.log("saved")
                    $.post("{{url_for('publish_post_task')}}",
                            {postid:postid.val()},
                            pm.gotoDashboard)
                console.log("sent")
                }/*else{
                    $.post("{{url_for('update_post_task')}}",
                        JSON.parse(JSON.stringify(form.serialize())), function(){
                        $.post("{{url_for('publish_post_task')}}",
                            {postid:postid.val()},
                            pm.gotoDashboard)
                    })
                }*/
            }else{
                alert("Please enter a title and add some content")
            }
            console.log("done")
        },
        unpublish:function(){
            $.post("{{url_for('unpublish_post_task')}}",
                    {postid:postid.val()},
                    function(){
                        $("#post_status").html("Draft")
                        status_btn.val("Publish")
                        status_btn.click(pm.publish)
                        status_btn.attr("btn btn-primary")
                    })
        },
        gotoDashboard:function(Data){
            console.log("dashboard")
            window.location.replace("{{url_for('dashboard_page')}}")
        },
        onSave:function(data){
            postid.val(data.result)
            save_status.html("<span class='glyphicon glyphicon-check'></span> Saved")
            saved=true
        }
    }

    $(document).ready(pm.init)
    tinymce.init({
        selector:'#post_content',
        min_height:400,
        resize:false,
        menubar:false,
        plugins:'link image code lists advlist',
        setup: function(ed){
            ed.on('keyup', pm.trigger)
        },
        toolbar1:'undo redo | fontselect | styleselect | bold italic underline | superscript subscript | link image | alignleft aligncenter alignright | outdent indent | bullist numlist | code',
        }
    )
</script>
{% endblock %}

{% block body %}
<div>
    <form id="post_form" method="post" >
        <input type="hidden" name="postid" id="post_id" value="">
        <div class="col-md-9 w-main">
            <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <input class="form-control w-title" name="title" id="post_title" placeholder="Your post's title" />
                </div>
            </div>
            </div>

            <textarea class="w-editor" name="content" id="post_content" placeholder="Your post"></textarea>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Status</div>
                {% if (not post is defined) or post.published == 0 %}
                    {% set stat='Draft' %}
                    {% set class='btn-primary' %}
                    {% set val='Publish' %}
                    {% set data=0 %}
                    {% set action="pm.publish()" %}
                {% else %}
                    {% set stat='Published'%}
                    {% set class='btn-default' %}
                    {% set val='Unpublish' %}
                    {% set data=1 %}
                    {% set action="pm.unpublish()" %}
                {% endif %}
                <div class="panel-body text-center">
                <div class="row">
                  <div class="col-sm-6">
                    <span id="post_status">{{stat}}</span>
                  </div>
                  <div class="col-sm-6">
                      <span id="save_status"><span class='glyphicon glyphicon-minus'></span></span>
                  </div>
                </div>
                  <input onclick="{{action}}" id="status_btn" data-published="{{data}}" type="button" class="btn {{class}}" value="{{val}}"/>
                </div>
                <div class="panel-heading">Description</div>
                <div class="panel-body">
                  <textarea id="post_description" name="description" class="form-control" placeholder="Enter description for post"></textarea>
                </div>
                <div class="panel-heading">Categories</div>
                <div class="panel-body">
                    <p id="post_categories">
                    <input type="hidden" name="categories" value=".">
                    {% for category in get_categories() %}
                        <label><input type="checkbox" name="categories" value="{{category['name']}}"
                              {% if post is defined and category['name'] in post.categories %} checked {% endif %}>
                            {{category['name']}}
                        </label><br/>
                    {% endfor %}
                    </p>
                    <input type="button" class="btn btn-info" value="Add category"/>
                </div>
                <div class="panel-heading">Tags</div>
                <div class="panel-body">
                  <textarea id="post_tags" name="tags" class="form-control" placeholder="Enter tags separated by commas"></textarea>
                </div>

            </div>
        </div>
    </form>
</div>
{% endblock %}
