{% extends 'BlogOn/layout.html' %}
{% block header %}
{{ super() }}
{% endblock %}
{% block body %}
<script>
	function update(){
		name_data = $('#blog_name').val()
		about_data = $('#about').val()
		data = {'name':name_data, 'about':about_data}
		$.ajax({
			url: "/update_name",
			data:  JSON.stringify(data),
			type: "POST",
			contentType: 'application/json;charset=UTF-8',
			success: update_success,
			error: function(error) {
				console.log(error);
			}
		});
	
	}
	function update_success(){
		//$('#blog_name').val("")
		done = document.createElement('div')
		done.className = "alert alert-success"
		done.innerHTML = "Successfully Updated"
		br = document.createElement('br')
		all = document.getElementById('main')
		all.appendChild(br)
		all.appendChild(br)
		all.appendChild(br)
		all.appendChild(done)
	}
	
	function getolddata(){
		$.ajax({
			url: "/get_settings",
			type: "POST",
			dataType: "json",
			success: function(data){
			//	name = data['name']
			//	about = data['about']
				$('#blog_name').val(data['name'])
				$('#about').val(data['about'])
			},
			error: function(error) {
				console.log(error);
			}
		});
	}
</script>
<body onload="getolddata()">
<div class="jumbotron" id='main' >
	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2" >Blog Name:</label>
			<div class="col-sm-8">
			<input type="text" class="form-control" id="blog_name" required>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" >About:</label>
			<div class="col-sm-8">
			<textarea type="text" class="form-control" id="about" required></textarea>
			</div>
		</div>
		<div class="form-group"> 
			<div class="col-sm-offset-2 col-sm-10">
			<button type="button" onclick="update()" id='sub' class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
</div>
</body>
{% endblock %}
